@{
    ViewBag.Title = "Delta Apps";
}

<div class="jumbotron">
    <p class="lead">Here you'll find downloads for some of my open-source productions. Hope you'll enjoy them.</p>
</div>

<div class="row">
    <div class="col-md-12">
        <h2 id="Hawkeye2">Hawkeye2</h2>
        <p>
            A complete rewrite of the original <a href="https://hawkeye.codeplex.com/">Hawkeye .NET Runtime Object Editor</a>.
        </p>
        <p>
            Note that this is very early stage and lots of work needs be completed to be as useful as the original one.
        </p>
        <p>
            <ul>
                <li>Source code at github: <a href="https://github.com/odalet/Hawkeye2">https://github.com/odalet/Hawkeye2</a></li>
                <li>Latest releases (zip): <a href="https://github.com/odalet/Hawkeye2/releases">https://github.com/odalet/Hawkeye2/releases</a></li>
            </ul>
        </p>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <h2 id="CertXplorer">CertXplorer</a></h2>
        <p>
            Use <b>CertXplorer</b> to inspect and manage certificates. Also useful to see what's inside any ASN.1/DER encoded data.
        </p>
        <ul>
            <li>Source code at github: <a href="https://github.com/odalet/Delta.Cryptography/tree/master/Delta.CertXplorer">https://github.com/odalet/Delta.Cryptography/tree/master/Delta.CertXplorer</a></li>
            <li>
                <a class="btn btn-default btn-info" href="https://googledrive.com/host/0B75pVvg0lN7CZUx3a0Yyd29ia28/certx.application">ClickOnce Install</a>
                or <a href="https://googledrive.com/host/0B75pVvg0lN7CZUx3a0Yyd29ia28/certx.html">Navigate here</a>.
            </li>
        </ul>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <h2 id="CertXplorer">ImageRenameTool</a></h2>
        <p>
            This tool provides a simple GUI allowing to rename multiple images at one time.
        </p>
        <ul>
            <li>Source code at github: <a href="https://github.com/odalet/Delta.Imaging/tree/master/Delta.ImageRenameTool">https://github.com/odalet/Delta.Imaging/tree/master/Delta.ImageRenameTool</a></li>
            <li>
                <a class="btn btn-default btn-info" href="https://googledrive.com/host/0B75pVvg0lN7CfkpEUkxFa2Q5R0tNTVhoWXQxN2dPWlJCWm42QWdFSk03Z1VfVmQ1b2dublU/rentool.application">ClickOnce Install</a>
                or <a href="https://googledrive.com/host/0B75pVvg0lN7CfkpEUkxFa2Q5R0tNTVhoWXQxN2dPWlJCWm42QWdFSk03Z1VfVmQ1b2dublU/rentool.html">Navigate here</a>.
            </li>
        </ul>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <h2 id="Delta.CapiNet">Delta.CapiNet</h2>
        <p>
            Simple .NET wrapper around Windows' Crypto API functions + other cryptography related code (ASN1/DER and PEM decoders).
        </p>
        <p>
            The aim of this library is to provide a similar set of functionalities to what's provided
            by <code><a href="http://en.wikipedia.org/wiki/CAPICOM">CAPICOM</a></code> but with no COM
            dependency. The library builds on top of the .NET framework (uses
            <a href="http://msdn.microsoft.com/en-us/library/system.security.cryptography.x509certificates.x509certificate2.aspx">X509 Certificate classes</a> and the <a href="http://msdn.microsoft.com/en-us/library/windows/desktop/aa379884.aspx"><code>crypt32.dll</code></a> through P/Invoke.
        </p>
        <p>Note that <a href="#CertXplorer">CertXplorer</a> builds on top of <a href="#Delta.CapiNet">Delta.CapiNet</a>.</p>
        <ul>
            <li>Source code at github: <a href="https://github.com/odalet/Delta.Cryptography/tree/master/Delta.CertXplorer/src/Delta.CapiNet">https://github.com/odalet/Delta.Cryptography/tree/master/Delta.CertXplorer/src/Delta.CapiNet</a></li>
        </ul>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <h2 id="Delta.Wsq">Delta.Wsq</h2>
        <p>
            <a href="http://en.wikipedia.org/wiki/Wavelet_Scalar_Quantization">WSQ</a> is an image format and compression
            algorithm (generally) used to store fingerprint images. <a href="#Delta.Wsq">Delta.Wsq</a> is a WSQ encoder/decoder
            based on the <a href="http://www.nist.gov/itl/iad/ig/nbis.cfm">NIST</a> implementation.
        </p>
        <p>
            The codec can be used from Windows Forms as well as WPF applications (as it supports both
            <code>System.Drawing.Bitmap</code> and <code>System.Windows.Media.Imaging.BitmapSource</code>)
        </p>
        <p>
            As well as the codec assembly (<code>Delta.Wsq.dll</code>) a plugin for
            <a href="http://www.getpaint.net/">Paint.NET</a> is also provided as a working example.
        </p>
        <ul>
            <li>Source code at github: <a href="https://github.com/odalet/Delta.Imaging/tree/master/Delta.Wsq">https://github.com/odalet/Delta.Imaging/tree/master/Delta.Wsq</a></li>
            <li>Get the Paint.NET plugin here: <a href="http://forums.getpaint.net/index.php?/topic/26657-wsq-file-plugin/">http://forums.getpaint.net/index.php?/topic/26657-wsq-file-plugin/</a></li>
        </ul>
    </div>
</div>
