*.suo

/src/Delta.AppHarbor/*.user

/src/Delta.AppHarbor/obj/Debug/*.cache
/src/packages
/src/Delta.AppHarbor/bin

/src/Delta.AppHarbor/obj
/src/Delta.AppHarbor.Mvc4/*.user

/src/Delta.AppHarbor.Mvc4/bin

/src/Delta.AppHarbor.Mvc4/obj/Debug

/src/Siti.Data/bin

/src/Siti.Data/obj

/src/Delta.AppHarbor.Mvc5/bin

/src/Delta.AppHarbor.Mvc5/obj
