@{
    ViewBag.Title = "My Stock";
}

<div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/3.5.5/d3.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/c3/0.4.11/c3.min.js"></script>
    <div id='chart' style='height: 600px; width: 100%;'></div>
</div>
<script src="/Scripts/myStock.js"></script>
