@{
    ViewBag.Title = "About";
}

<hgroup class="title">
    <h1>@ViewBag.Title.</h1>
    <h2>@ViewBag.Message</h2>
</hgroup>

<article>
    <p>
        This site is a web application playground as well as the place
        for my OSS announcements.
    </p>
<section class="contact">
    <header>
        <h3>Contact</h3>
    </header>
    <p>
        <span class="label">email me at</span>
        <span><a href="mailto:odalet@gmail.com">odalet@gmail.com</a></span>
    </p>
</section>
</article>



<aside>
    <h3>Quick links</h3>
    <ul>
        <li>@Html.ActionLink("Home", "Index", "Home")</li>
        <li>@Html.ActionLink("About", "About", "Home")</li>
    </ul>
</aside>
